.MuiAppBar-root.navbar-container {
  height: 10vh;
}

.toolbar-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.home-tabs {
  margin: 0px 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.ticket-form {
  width: 60%;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.name-field-container {
  display: flex;
  gap: 3rem;
}

.ticket-card {
  transition: border-color 0.3s;
  padding: 10px;
  height: 200px;
  box-sizing: border-box;
}

.ticket-card:hover {
  border: 1px solid lightblue;
  cursor: pointer;
}
